.charts {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	padding: 1rem;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.chartsMain {
	display: flex;
	justify-content: space-between;
}

.chartContainer {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
}

.chartHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.chartTitle {
	font-weight: 600;
}

.chartBody {
	width: auto;
	height: 200px;
}
