.header {
	display: flex;
	background-color: #08916a;
	justify-content: center;
	height: 15rem;
	padding: 1rem;
}

.select {
	position: absolute;
	top: 2vh;
	right: 1vw;
}

@media only screen and (max-width: 768px) {
	.header {
		height: 18rem;
		padding: 5rem;
	}
}
