.transactionsActions {
	display: flex;
	gap: 0.5rem;
	margin-bottom: 3rem;
}

@media only screen and (max-width: 768px) {
	.transactionsActions {
		flex-direction: column;
	}

	.transactionsActions input {
		width: 100%;
	}
}
