@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* GENERAL STYLING*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Inter', monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	background-color: #fff;
	color: #222222;
}

::selection {
	background-color: #067455;
}

p,
th,
td,
textarea {
	font-size: 1.6rem;
}

h2 {
	font-size: 2.8rem;
}

main {
	display: flex;
	flex-direction: column;
	padding: 2rem 15vw;
	min-height: 65vh;
	gap: 2rem;
}

input {
	padding: 0.5rem 1.5rem;
	margin-right: auto;
	border-radius: 10px;
	border: 1.5px solid #e1e1e1;
	width: 30rem;
	height: 4rem;
	outline: none;
}

input:focus {
	border: 2px solid #08916a;
}

select {
	background-color: #e9e9ed;
	height: 4rem;
	border-radius: 10px;
	padding: 0.5rem 2rem;
	border: 0;
}

select:hover {
	background-color: #cfcfd8;
	cursor: pointer;
}

.btn-primary {
	background-color: #08916a !important;
	color: #fff;
}

.btn-primary:hover {
	background-color: #067455 !important;
}

.btn {
	background-color: #e9e9ed;
	padding: 0.5rem 3rem;
	border-radius: 10px;
	font-weight: 500;
	height: 4rem;
	border: 0;
	transition: 200ms;
}

.btn:hover {
	background-color: #cfcfd8;
	cursor: pointer;
}

.export-btn {
	position: absolute;
	top: 9vh;
	left: 1vw;
}

.import-btn {
	position: absolute;
	top: 2vh;
	left: 1vw;
}

textarea {
	font-family: 'Inter', monospace;
	font-size: 1.4rem;
	border-radius: 10px;
	padding: 1rem;
	outline: 0;
	height: 12rem;
	width: 100%;
	border: 1.5px solid #e1e1e1;
	resize: none;
}

/* HEADER */

header {
	display: flex;
	background-color: #08916a;
	justify-content: center;
	height: 15rem;
	padding: 1rem;
}

header select {
	position: absolute;
	top: 2vh;
	right: 1vw;
}

.logo {
	font-size: 4.8rem;
	border-radius: 8px;
}

.logo span {
	color: #fff;
}

/* SUMMARY SECTION */

.summaryBox {
	display: flex;
	align-items: stretch;
	width: 100%;
	gap: 15px;
	margin-top: -6rem;
}

.dataBox {
	padding: 20px;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	border-radius: 10px;
	flex: 1;
}

.data-value {
	font-size: 32px;
}

.data-title {
	font-weight: 400;
	color: #a8b1bd;
}

/* TRANSACTIONS SECTION */

.transactions {
	width: 100%;
	overflow-x: auto;
	margin-right: 1.5rem;
	background-color: #fff;
	padding: 1rem;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.transactions p {
	text-align: center;
	margin-bottom: 1rem;
}

.transactions-main {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.transaction-actions {
	display: flex;
	gap: 0.5rem;
	margin-bottom: 3rem;
}

table {
	border-collapse: collapse;
	width: 100%;
}

thead {
	background-color: #08916a;
	color: #fff;
	text-align: left;
}

th,
td {
	padding: 10px;
}

td button {
	height: 3rem !important;
	padding: 0 1rem !important;
}

th:last-child,
td:last-child {
	display: flex;
	justify-content: end;
	gap: 0.5rem;
}

tr:nth-of-type(even) {
	background-color: #f5f5f5;
}

.badge-income,
.badge-expense {
	padding: 5px;
	text-align: center;
	color: #fff;
	border-radius: 5px;
}

.badge-income {
	background-color: #08916a;
}

.badge-expense {
	background-color: #d62246;
}

.pagination {
	display: flex;
	justify-content: center;
	margin-top: 4rem;
	gap: 10px;
}

.pagination span {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-size: 1.6rem;
	border: 2px solid #f5f5f5;
	color: #222;
	border-radius: 10px;
	height: 3rem;
	width: 3rem;
	cursor: pointer;
	transition: 300ms;
}

.pagination span:hover,
span.active {
	color: #08916a;
	border: 2px solid #08916a;
}

/* MODAL */

.modal {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #fff;
	width: 40rem;
	border-radius: 10px;
	transform: translate(-50%, -50%);
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	padding: 2rem;
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.modal-footer {
	display: flex;
	justify-content: end;
	margin-top: 2rem;
	gap: 1rem;
}

.close-btn {
	color: #08916a;
	font-size: 3rem;
	cursor: pointer;
	transition: 300ms;
}

.close-btn:hover {
	color: #067455;
	font-size: 3rem;
	cursor: pointer;
}

.modal form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.modal form select,
.modal form button,
.modal form input {
	width: 100%;
}

.checkbox-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 20px;
}

.checkbox {
	display: flex;
	align-items: center;
}

.modal input[type='checkbox'] {
	width: 16px !important;
	margin-right: 10px;
}

.range-container {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-top: 10px;
	margin-bottom: 20px;
}

.range-container input {
	width: 170px !important;
}

/* FOOTER */

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #08916a;
	color: #fff;
	margin-top: -5px;
	padding-bottom: 2rem;
}
